table {
    border-collapse: collapse;
    width: 250px; /* Set the width of the table */
    text-align: center;
    vertical-align: center;
    margin-left: 42%;
}

th, td {
    border: 1px solid black; /* Add borders to cells */
    width: 50px; /* Set the width of each cell */
    height: 50px; /* Set the height of each cell */
    text-align: center; /* Center text in cells */
    min-width: 50px; /* Set minimum width of each cell */
    min-height: 50px; /* Set minimum height of each cell */
}

/* Default Robot facing down */
.robot {
    background-size: contain; /* Make sure the image fits within the cell */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-position: center; /* Center the image */
    background-image: url('../img/robot.png');
}

/* Robot facing up */
.robot-up {
    transform: rotate(180deg);
}

/* Robot facing left */
.robot-left {
    transform: rotate(90deg);
}

/* Robot facing right */
.robot-right {
    transform: rotate(270deg);
}

.center-align {
    text-align: center;
}
